go 1.20

use (
	.
	./algorithms
	./app
	./config
	./console
	./context
	./domain
	./encryption
	./env
	./errors
	./graphics
	./io
	./log
	./net
	./random
	./routine
	./sync
	./syscall
	./test
	./version
)
