go 1.20

use (
	.
	./algorithms
	./app
	./config
	./console
	./domain
	./encrypt
	./env
	./errors
	./graphics
	./ioutils
	./logx
	./network
	./random
	./routine
	./syncing
	./syscall
	./test
	./version
	./xc
)
